@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    Layout = null;
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> @ViewData["Title"] </title>
    <link rel="shortcut icon" href="~/assets/images/favicon.png" type="image/x-icon" />
    <!-- ================== APP CSS START ================== -->
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <!-- ================== APP CSS END ================== -->
</head>
<body>
    <div class="auth-container d-flex align-items-center">
        <div class="col-lg-4 mx-auto">
            <h2 class="text-center mb-4">Reset your password</h2>
            <div class="auth-form">
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <input asp-for="Input.Code" type="hidden" />
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                    </div>
                    <button type="submit" class="btn btn-primary">Reset</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

